@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
	/* Neutral Colors */
	--white: #F7F7F7;
	--black: #250448;
	--gray: #AAAAAA;

	/* Primary Colors */
	--red: #F70262;
	--green: #9AE59C;
	--blue: #00EBEA;

}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Layout */
body {
	background-color: var(--white);
	font-family: 'Ubuntu', sans-serif;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 0;
	display: grid;
	grid-template-rows: 4rem auto auto;
}

/* Image Side */
@media (min-width: 768px) {
	body {
		min-height: 100vh;
		display: flex;
	}

	.container {
		max-width: 44%;
	}

	.image-side {
		min-width: 50%;
		display: grid;
		place-items: center;

		background-image: url("../images/background-one.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* Box Inside The Image Side/Logo */
	.box-logo {
		min-width: 15rem;
		min-height: 15rem;
		display: inherit;

		background-color: var(--red);
		border-radius: 1rem;
	}

	.image-logo {
		min-width: 10rem;
		min-height: 10rem;
		margin: auto;

		background-image: url(../images/double-check.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
}

/* 943px container - login */
@media(min-width: 943px) {
	.container {
		grid-template-rows: 4rem 30rem auto;
	}
} 

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

/* personal details */
.text-header {
	color: var(--gray);
	font-weight: 500;
}

.languages {
	padding: .5rem 1rem .5rem .1rem;

	border: none;
	border-radius: .1rem;
	background-color: #fff;
	color: var(--gray);
	box-shadow: 0 0 1px var(--gray);	
	font-family: inherit;
	line-height: 2rem;
	cursor: pointer;
}

.languages:hover,
.languages:focus {
	outline: none;
	box-shadow: 0 0 .5rem var(--black);
}

/* Main/Login Box */
.text-login {
	margin-bottom: 1.5rem;
}

.title {
	margin-bottom: .5rem;

	color: var(--black);
}

.subtitle {
	color: var(--gray);
	font-weight: 500;
	font-size: 1rem;
}

/* Input Box */
.input-box {
	position: relative;
}

/* Input */
.input {
	display: block;
	min-width: 100%;
	padding: 1rem;
	margin: 1rem 0;

	font-family: inherit;
	font-weight: 500;
	border: none;
	border-radius: .1rem;
	box-shadow: 0 0 3px var(--gray);
	font-size: 1rem;
}

@media (min-width: 768px) {
	.input {
		margin: 1rem .5rem;
	}
}

/* Placeholder */
.placeholder {
	position: absolute;
	top: 0;
	padding: 1rem 1.5rem;

	color: var(--gray);
	pointer-events: none;
	transition: 0.3s;
}

.input:valid ~ .placeholder,
.input:focus ~ .placeholder {
	color: var(--black);
    transform: translateX(10px) translateY(-12px);
    background-color: var(--white);
    padding: 0 .5rem;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.input:hover,
.input:focus {
	outline: 2px solid var(--blue);
}

/* Confirm Box */
.confirm-box {
	margin: 1rem 0;
}

.checkbox {
	cursor: pointer;
}

.checkbox-label {
	padding-left: .5rem;

	line-height: 1rem;
	color: var(--gray);
	font-weight: 300;
	font-size: .8rem;
}

/* Buttons/Submit Box */
.submit-box {
	margin-bottom: 1rem;
	flex-direction: column;
	align-items: center;
	display: flex;
}

/* 768px - Icons */
@media (min-width: 768px) {
	.submit-box {
		flex-direction: row;
		justify-content: space-between;
	}
}

/* 915px - Icons */
@media (max-width: 915px) {
	.submit-box {
		flex-direction: column;
		gap: .5rem;
	}
}

/* Submit default */
.btn-submit {
	padding: .5rem 2rem;

	border: none;
	outline: none;
	font-size: inherit;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 1rem;
	letter-spacing: 2px;
	cursor: pointer;
}

/* Or line */
.or {
	color: var(--gray);
	margin: .5rem 0;
}

.btn {
	border: none;
	cursor: pointer;
	background-color: #fff;
	padding: .5rem;
	font-size: 1rem;
	color: var(--gray);
}

/* Buttons clicked */
.btn:active,
.btn-submit:active {
    transform: translateY(4px);
}

/* Google Button  */
.btn-google {
	background-image: url("../images/google.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 1rem;
}

.btn-google::after {
	padding-left: 1.8rem;
	content: "Google";
}

/* Facebook Button */
.btn-facebook {
	background-image: url("../images/facebook.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
}

.btn-facebook::after {
	padding-left: 2rem;

	content: 'Facebook';
}

@media (min-width: 768px) {
	.btn {
		padding: .4rem;
		background-color: transparent;
	}

	.or {
		margin: 0;
	}

	.btn-google {
		padding: .6rem;
		margin: 0;
	}

	.btn::after {
		content: " ";
		margin: 0;
	}
}

/* Footer/Login */
.footer {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.line {
	min-width: 5rem;
	min-height: 2px;
	margin-right: .5rem;

	border: none;
	background-color: var(--red);
}

.login-link {
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 700;
	color: var(--red);
}

.login-link:hover,
.login-link:focus {
	outline: none;
	color: var(--blue);
}