@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
	/* Neutral Colors */
	--white: #F7F7F7;
	--gray: #808080;

	/* Primary Colors */
	--red: #F7022A;
	--green: #9AE59C;
	--blue: #387BE8;

	/* border */
	--border1: 2px solid var(--red);
	--border2: 2px solid var(--blue);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Layout */
body {
	background-color: var(--white);
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 90%;
	margin: .5rem auto;
	
	border: var(--border1);
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;

	border: var(--border2);
}

.text-header {
	color: var(--gray);
	font-weight: 500;
	font-size: 1rem;
}

.languages {
	padding: 0 1rem 0 .1rem;

	border: none;
	background-color: #fff;
	color: var(--gray);
	box-shadow: 0 0 1px var(--gray);
	font-size: 1rem;
	font-family: inherit;
	line-height: 2rem;
	cursor: pointer;
}
}