@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
	/* Neutral Colors */
	--white: #F7F7F7;
	--black: #250448;
	--gray: #808080;

	/* Primary Colors */
	--red: #F70262;
	--green: #9AE59C;
	--blue: #00EBEA;

	/* border */
	--border1: 2px solid var(--red);
	--border2: 2px solid var(--blue);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Layout */
body {
	background-color: var(--white);
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 90%;
	margin: .5rem auto;
	
	border: var(--border1);
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;

	border: var(--border2);
}

.text-header {
	color: var(--gray);
	font-weight: 500;
	font-size: 1rem;
}

.languages {
	padding: 0 1rem 0 .1rem;

	border: none;
	background-color: #fff;
	color: var(--gray);
	box-shadow: 0 0 1px var(--gray);
	font-size: 1rem;
	font-family: inherit;
	line-height: 2rem;
	cursor: pointer;
}

/* Main/Login Box */
.login-box {
	margin: 1rem 0;

	border: var(--border1);
}

.text-login {
	margin-bottom: 1rem;

	border: var(--border2);
}

.title {
	margin-bottom: .5rem;
}

.subtitle {
	color: var(--gray);
	font-weight: 500;
	font-size: 1rem;
}

/* form */
.form {
/*	border: var(--border1);*/
}

/* input */
.input {
	min-width: 100%;
	padding: 1rem;
	margin: .3rem 0;

	border: none;
	box-shadow: 0 0 10px #fff;
}

/* Confirm Box */
.confirm-box {
	margin: 1rem;
}

.checkbox-label {
	padding-left: .5rem;

	line-height: 1.5rem;
	color: var(--gray);
	font-weight: 300;
	font-size: 1rem;
}

/* Buttons/Submit Box */
.submit-box {
	margin-bottom: 1rem;
	flex-direction: column;
	align-items: center;
	display: flex;
	
	border: var(--border2);
}

/* Submit default */
.btn-submit {
	padding: .5rem 2rem;

	border: none;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 1rem;
	cursor: pointer;
}

/* Or line */
.or {
	color: var(--gray);
	margin: .5rem 0;
}

.btn {
	border: none;
	cursor: pointer;
	background-color: #fff;
	padding: .5rem;
}

/* Google Button  */
.btn-google {
	background-image: url("../images/google.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.btn-google::after {
	padding-left: 2rem;
	content: "Google";
	color: var(--gray);
}