@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--white: #FFFCE8;
	--black : #3E363F;
	--gray: #808080;
	--light-red: #FF5154;
	--color-google: #C5C6D0;

	/* Fonts */
	--font-lora: 'Lora', serif;
	--font-ubuntu: 'Ubuntu', sans-serif;

	/* Border */
	--border: 2px solid var(--black);
}

/* Layout */
body {
	font-family: var(--font-ubuntu);
}

.container {
	max-width: 90%;
	margin: 1.5rem auto;

	color: var(--black);
}

/* centralize classes */
.input,
.login,
.form p,
.footer {
	margin: 0 auto;
}

/* Header/Logo */
.logo {
	text-align: center;
	max-width: 85%;

	background-image: url(../images/fire.png);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.title-logo {
	font-size: 4.5rem;
	font-weight: 700;
}

.logo span {
	color: var(--light-red);
}

/* Main/Login */
.login {
	padding: 1.5rem 3rem;
	padding-bottom: 0;
}

/* Message login */
.message-login {
}

.message-title {
	line-height: 2.5rem;

	font-weight: 700;
}

.message-subtitle {
	margin-top: .5rem;
	line-height: 1.5rem;

	color: var(--gray);
	font-size: 1rem;
	font-weight: 300
}

/* form */
.form {
	margin-top: 2rem;
}

.form label {
	color: var(--gray);
	font-size: .9rem;
}

/* All inputs */
.input {
	margin-top: .3rem;
	margin-bottom: 1rem;
	width: 100%;

	display: block;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--gray);

	font-size: 1rem;
	font-weight: 700;
	font-family: var(--font-ubuntu);
	transition: .3s ease all;
}

.full-name:hover,
.full-name:focus,
.email:hover,
.email:focus
{
	border-bottom: 2px solid var(--light-red);
	transition: .3s ease all;
}

/* All Buttons */
.btn {
	margin-top: 1.5rem;
	margin-bottom: 0;
	padding: 1rem 0;
	border-radius: 1rem;
	border-bottom: 0;
	cursor: pointer;
}

.btn:hover,
.btn:focus
{
	box-shadow: 0 0 1rem var(--black);
}

/* Default Button */
.btn-default {
	max-width: 40%;

	border-bottom: 5px solid var(--black);
	background-color: var(--light-red);
	color: var(--white);
}

/* 'or' section */
.form p {
	max-width: 5%;
	color: var(--gray);
	float: left;
	margin-left: .5rem;
	margin-right: .5rem;
}

.line {
	min-width: 45.2%;
	background-color: #bbb;
	float: left;
	margin: 3% 0;
}

/* Google button */
.btn-google {
	max-width: 58%;
	padding: .5rem 0;
	padding-left: 2rem;

	background-image: url("../images/google.svg");
	background-repeat: no-repeat;
	background-position: left;

	font-weight: 400;
	background-color: var(--white);
}

/* Footer */
.footer {
	max-width: 57%;
	margin-top: 1.5rem;
}

.link {
	text-decoration: none;
	color: var(--gray);
	transition: .3s ease all;
}

.link:hover,
.link:focus
{
	color: var(--light-red);
	font-weight: 700;
	outline: none;
	transition: .3s ease all;
}