@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--white: #FFFCE8;
	--black : #3E363F;
	--gray: #808080;
	--light-red: #FF5154;
	--color-google: #C5C6D0;

	/* Fonts */
	--font-lora: 'Lora', serif;
	--font-ubuntu: 'Ubuntu', sans-serif;

	/* Border */
	--border: 2px solid var(--black);
}

/* Layout */
body {
	font-family: var(--font-ubuntu);
}

.container {
	max-width: 90%;
	margin: 1.5rem auto;

	border: var(--border);
}