@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--white: #FFFCE8;
	--black : #3E363F;
	--gray: #808080;
	--light-red: #FF5154;
	--color-google: #C5C6D0;

	/* Fonts */
	--font-lora: 'Lora', serif;
	--font-ubuntu: 'Ubuntu', sans-serif;

	/* Border */
	--border: 2px solid var(--black);
}

/* Layout */
body {
	font-family: var(--font-ubuntu);
}

.container {
	max-width: 90%;
	margin: 1.5rem auto;

	border: var(--border);
}

/* Header/Logo */
.logo {
	text-align: center;
}

.title-logo {
	font-size: 4.5rem;
	font-weight: 700;
}

.logo span {
	color: var(--light-red);
}

/* login */
.login {
	border: var(--border);
	width: 90%;
	margin: 0 auto;
	padding: 1.5rem 3rem;
}

.box-login {
	border: var(--border);
}