@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap');

/*==============
	Variables
============*/

:root {
	/* Colors */
	--light-blue: #29ABE2;
	--purple: #662D91;
	--pink: #F72585;
	--skyblue: #4361EE;
	--very-dark-blue: #190B28;

	/* Fonts */
	--font-lora: 'Lora', serif;
	--font-ubutu: 'Ubuntu', sans-serif;

	/* Border */
	--border-base: 2px solid #000;
}

/* General style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Layout */
body {
	background-color: var(--skyblue);
	font-family: var(--font-ubutu);
	color: #fff;
}

.container {
	max-width: 85%;
	height: 100vh;
	margin: 0 auto;
	padding: 2rem 0;

	border: var(--border-base);
}

/* Logo */
.logo {
	max-width: 69%;
	margin: 0 auto;

	border: var(--border-base);
}

.title {
	display: inline;

	font-size: 5.3rem;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 4rem;
}

.img {
	float: right;

	background-image: url(../images/envelope-solid.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 6.25em;
	height: 6.25em;
	max-width: 100%;
}

@media (min-width: 375px) {
	.logo {
		text-align: center;
		max-width: 100%;
	}

	.title {	
		font-size: 4.5rem;
	}

	.img {
		float: none;
		margin: 0 auto;
	}
}

/* Content */
.content {
	margin-top: 2rem;
}

/* Title form */
.title-form {
	font-size: 2.5rem;
/*	padding-left: .5rem;*/
	font-weight: 700;
}

/* Form -- Columns */
.form {
	width: 100%;
	display: flex;
	gap: 2rem;

/*	border: var(--border-base);*/
}

/* Input */
.input {
	display: block;
	padding: 1rem .5rem;
	margin-bottom: 1rem;

	font-weight: 300;
	font-size: 1.5rem;
	font-family: var(--font-lora);
	border: none;
	background-color: var(--light-blue);
	color: #fff;
	border-radius: .1rem;
	outline: none;
}

.input:hover,
.input:focus {
	box-shadow: 0 0 10px var(--very-dark-blue);
}

/* selection color */
::selection {
	background-color: var(--very-dark-blue);
}

/* placeholder color */
::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

/* Column 1 */
.col-one {
	min-width: 50%;
	
/*	border: var(--border-base);*/
}

.personal-details .input {
	width: 100%;
}

/* Column 2 */
.col-two {
	width: 50%;
}

.message-box {
/*	border: var(--border-base);*/
}

.message {
	width: 100%;
	resize: none;
	overflow: auto;
}

.submit {
	float: right;
	background-color: var(--skyblue);
	width: 25%;
	padding: 1rem 0;

	font-weight: 700;
	cursor: pointer;
	border-radius: 1rem;
	border: 1px solid #fff;
	margin: 0;
}

.submit:hover,
.submit:focus {
	background-color: var(--very-dark-blue);
	color: skyblue;
}